.itemPage {
  display: flex;
  min-height: 100px;
  width: 100%;

  &__details {
    padding: 1rem;
    width: 70%;
  }

  &__img {
    display: block;
    margin: auto;
  }

  &__summary {
    padding: 1rem;
    width: 30%;
  }

  &__button {
    margin-top: 2rem;
  }

  &__description {
    font-size: 0.9rem;
    color: var(--color-dark);
  }

  &__price {
    font-size: 3rem;
    color: var(--color-dark);

    sup {
      font-size: 1.2rem;
    }
  }
}